body{
    margin: 0;
    font-family: 'Titillium Web', sans-serif;
}

.cabecera {
    height: 130px;
    background: #ff00a9;
    color: white;
}

.cabecera h1 {
    padding-left: 35px;
    padding-top: 17px;
    font-size: 40px;
    margin-top: 0;
}

.cuerpo {
    display: flex;
    background-color: rgb(255,191,211);
}

.menu {
    background: #ff0065;
    width: 500px;
    height: 100vh;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    height: 153px;
    justify-content: space-between;
    padding-left: 20px;
}

ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.contenido {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
}

h3 {
    margin-bottom: 0;
}

.contenido p {
    margin-top: 0;
}

.contenido img {
    width: 450px;
    margin-left: 500px;
}